In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import time
import json
import requests
from splinter import Browser
from selenium import webdriver
from bs4 import BeautifulSoup
import numpy as np
import math
import statistics
import sys

In [2]:
draft_df = pd.read_excel("C:\\Users\\mcyee\\Desktop\\yahoo_keeper_2021\\2021_Fantasy_Football_Draft.xlsx")
draft_df.head()

,pick,player_name,player_position,player_team,salary,manager,keeper_code
0,1,Aaron Jones,RB,GB,27,Matt,BCDE
1,2,Jonathan Taylor,RB,IND,64,Matt,E
2,3,Odell Beckham Jr.,WR,CLE,5,Matt,E
3,4,Jerry Jeudy,WR,DEN,5,Matt,E
4,5,Davante Adams,WR,GB,60,Dai,ABCDE

In [3]:
options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')

In [4]:
transaction_list = []
driver = webdriver.Chrome('C:\\Users\\mcyee\\Desktop\\yahoo_keeper_2021\\chromedriver.exe')

for n in np.arange(0, 40):
    try:
        p = str(n*25)
        driver.get("https://football.fantasysports.yahoo.com/f1/597209/transactions?transactionsfilter=all&count=" + p)
        time.sleep(2)
        transaction_html = driver.page_source
        transaction_soup = BeautifulSoup(transaction_html, "html.parser")
        transaction_table = transaction_soup.findAll("table", {"class": "Table Table-mid Tst-transaction-table"})[0].findAll("tbody")[0]
        for tr in transaction_table.findAll('tr'):
            td = tr.findAll('td')
            if str(td[0]).find("Added Player") != -1 and str(td[0]).find("Dropped Player") != -1:
                player_added = td[1].find_all("a", {'target': 'sports'})[0].text
                player_added_team = td[1].find_all('span', {'class': 'F-position'})[0].text.split(' - ')[0]
                player_added_pos = td[1].find_all('span', {'class': 'F-position'})[0].text.split(' - ')[1]
                player_dropped = td[1].find_all("a", {'target': 'sports'})[1].text
                player_dropped_team = td[1].find_all('span', {'class': 'F-position'})[1].text.split(' - ')[0]
                player_dropped_pos = td[1].find_all('span', {'class': 'F-position'})[1].text.split(' - ')[1]
                manager = td[2].find_all("a", {'class': 'Tst-team-name'})[0].text
                dt_transaction = td[2].find_all("span", {'class': 'F-timestamp'})[0].text
                transaction_details = td[1].find_all('h6', {'class': 'F-shade'})[0].text
                if transaction_details.find("$") != -1:
                    transaction_cost = (transaction_details.replace('$', '').replace(' ', '').replace('Waiver', ''))
                else:
                    transaction_cost = 0    
                transaction_dict = {
                    'transaction_type': 'drop-add',
                    'player_added': player_added,
                    'player_added_team': player_added_team,
                    'player_added_pos': player_added_pos,
                    'player_dropped': player_dropped,
                    'player_dropped_team': player_dropped_team,
                    'player_dropped_pos': player_dropped_pos,
                    'ff_team': manager,
                    'transaction_time': dt_transaction,
                    'transaction_cost': transaction_cost
                }
                transaction_list.append(transaction_dict)
            elif str(td[0]).find("Dropped Player") != -1:
                player_dropped = td[1].find_all("a", {'target': 'sports'})[0].text
                player_dropped_team = td[1].find_all('span', {'class': 'F-position'})[0].text.split(' - ')[0]
                player_dropped_pos = td[1].find_all('span', {'class': 'F-position'})[0].text.split(' - ')[1]
                manager = td[2].find_all("a", {'class': 'Tst-team-name'})[0].text
                dt_transaction = td[2].find_all("span", {'class': 'F-timestamp'})[0].text
                transaction_dict = {
                    'transaction_type': 'drop',
                    'player_added': 'Bench',
                    'player_added_team': 'N/A',
                    'player_added_pos': 'N/A',
                    'player_dropped': player_dropped,
                    'player_dropped_team': player_dropped_team,
                    'player_dropped_pos': player_dropped_pos,
                    'ff_team': manager,
                    'transaction_time': dt_transaction,
                    'transaction_cost': 0
                }
                transaction_list.append(transaction_dict)
            elif str(td[0]).find("Added Player") != -1:
                player_added = td[1].find_all("a", {'target': 'sports'})[0].text
                player_added_team = td[1].find_all('span', {'class': 'F-position'})[0].text.split(' - ')[0]
                player_added_pos = td[1].find_all('span', {'class': 'F-position'})[0].text.split(' - ')[1]
                manager = td[2].find_all("a", {'class': 'Tst-team-name'})[0].text
                dt_transaction = td[2].find_all("span", {'class': 'F-timestamp'})[0].text
                transaction_details = td[1].find_all('h6', {'class': 'F-shade'})[0].text
                if transaction_details.find("$") != -1:
                    transaction_cost = (transaction_details.replace('$', '').replace(' ', '').replace('Waiver', ''))
                else:
                    transaction_cost = 0 
                transaction_dict = {
                    'transaction_type': 'add',
                    'player_added': player_added,
                    'player_added_team': player_added_team,
                    'player_added_pos': player_added_pos,
                    'player_dropped': 'Bench',
                    'player_dropped_team': "N/A",
                    'player_dropped_pos': "N/A",
                    'ff_team': manager,
                    'transaction_time': dt_transaction,
                    'transaction_cost': transaction_cost
                }
                transaction_list.append(transaction_dict)

            elif str(td[1]).find("Traded to") != -1:
                manager = td[2].find_all("span", {'class': 'Grid-u'})[0].find_all("a")[0].text
                dt_transaction = td[2].find_all("span", {'class': 'F-timestamp'})[0].text
                adds = td[0].find_all('a', {'target': 'sports'})
                for a in range(len(adds)):
                    player_added = td[0].find_all("a", {'target': 'sports'})[a].text
                    player_added_team = td[0].find_all('span', {'class': 'F-position'})[a].text.split(' - ')[0]
                    player_added_pos = td[0].find_all('span', {'class': 'F-position'})[a].text.split(' - ')[1]
                    transaction_dict = {
                        'transaction_type': 'trade',
                        'player_added': player_added,
                        'player_added_team': player_added_team,
                        'player_added_pos': player_added_pos,
                        'player_dropped': 'N/A',
                        'player_dropped_team': "N/A",
                        'player_dropped_pos': "N/A",
                        'ff_team': manager,
                        'transaction_time': dt_transaction,
                        'transaction_cost': 0
                    }
                    transaction_list.append(transaction_dict)
            elif str(td[2]).find("Traded to") != -1:
                manager = td[3].find_all("span", {'class': 'Grid-u'})[0].find_all("a")[0].text
                dt_transaction = td[3].find_all("span", {'class': 'F-timestamp'})[0].text
                adds = td[1].find_all('a', {'target': 'sports'})
                for a in range(len(adds)):
                    player_added = td[1].find_all("a", {'target': 'sports'})[a].text
                    player_added_team = td[1].find_all('span', {'class': 'F-position'})[a].text.split(' - ')[0]
                    player_added_pos = td[1].find_all('span', {'class': 'F-position'})[a].text.split(' - ')[1]
                    transaction_dict = {
                        'transaction_type': 'trade',
                        'player_added': player_added,
                        'player_added_team': player_added_team,
                        'player_added_pos': player_added_pos,
                        'player_dropped': 'N/A',
                        'player_dropped_team': "N/A",
                        'player_dropped_pos': "N/A",
                        'ff_team': manager,
                        'transaction_time': dt_transaction,
                        'transaction_cost': 0
                    }
                    transaction_list.append(transaction_dict)
    except:
        pass

driver.quit()
transaction_df = pd.DataFrame(transaction_list)
transaction_df.head()

,ff_team,player_added,player_added_pos,player_added_team,player_dropped,player_dropped_pos,player_dropped_team,transaction_cost,transaction_time,transaction_type
0,Amon The Stars,D'Ernest Johnson,RB,Cle,San Francisco,DEF,SF,0,"Jan 2, 4:34 pm",drop-add
1,Zeke and Ye Shall Find,Deonte Harris,WR,NO,Emmanuel Sanders,WR,Buf,0,"Jan 2, 9:24 am",drop-add
2,Zeke and Ye Shall Find,Trey Sermon,RB,SF,Philadelphia,DEF,Phi,0,"Jan 2, 9:08 am",drop-add
3,Zeke and Ye Shall Find,Gabriel Davis,WR,Buf,Tyler Johnson,WR,TB,0,"Dec 31, 3:46 pm",drop-add
4,folklore,Josh Gordon,WR,KC,Joshua Palmer,WR,LAC,0,"Dec 31, 1:02 pm",drop-add

In [5]:
manager_list = []
for m in list(set(transaction_df['ff_team'])):
    manager = input("Which player is the manager for " + m + "?")
    manager_dict = {
        'ff_team': m,
        'manager': manager
    }
    manager_list.append(manager_dict)
manager_df = pd.DataFrame(manager_list)
manager_df

Which player is the manager for Raider Bae?Jake
Which player is the manager for Waddle It Be??Sean
Which player is the manager for Zeke and Ye Shall Find?Doug
Which player is the manager for Got Taylor Need Swift?Matt
Which player is the manager for Chi ShingT's Team?Chi Shing
Which player is the manager for Amon The Stars?Joel
Which player is the manager for Tiz the Law?Dai
Which player is the manager for folklore?Ron
Which player is the manager for Pop Drop and Lockett?Evan
Which player is the manager for Nags?Ryan
Which player is the manager for G?Jiwei
Which player is the manager for Sacko?Rajiv

                   ff_team    manager
0               Raider Bae       Jake
1            Waddle It Be?       Sean
2   Zeke and Ye Shall Find       Doug
3    Got Taylor Need Swift       Matt
4        Chi ShingT's Team  Chi Shing
5           Amon The Stars       Joel
6              Tiz the Law        Dai
7                 folklore        Ron
8     Pop Drop and Lockett       Evan
9                     Nags       Ryan
10                       G      Jiwei
11                   Sacko      Rajiv

In [7]:
transaction_df = pd.DataFrame(transaction_list)
for i, r in transaction_df.iterrows():
    if r['transaction_time'].find('Jan') != -1:
        transaction_df.at[i, 'transaction_time'] = "2022 " + r['transaction_time']
    else:
        transaction_df.at[i, 'transaction_time'] = "2021 " + r['transaction_time']
transaction_df['transaction_time'] = pd.to_datetime(transaction_df['transaction_time'], format="%Y %b %d, %I:%M %p")
transaction_df = transaction_df.sort_values(by='transaction_time').reset_index(drop=True)
transaction_df = transaction_df.merge(manager_df, on='ff_team', how='left')
transaction_df.to_csv("C:\\Users\\mcyee\\Desktop\\yahoo_keeper_2021\\2021_Fantasy_Football_Transactions.csv")
transaction_df.head()

,ff_team,player_added,player_added_pos,player_added_team,player_dropped,player_dropped_pos,player_dropped_team,transaction_cost,transaction_time,transaction_type,manager
0,Pop Drop and Lockett,Ty'Son Williams,RB,Bal,Los Angeles,DEF,LAC,7,2021-08-30 00:09:00,drop-add,Evan
1,Amon The Stars,Jermar Jefferson,RB,Det,Kirk Cousins,QB,Min,5,2021-08-30 00:09:00,drop-add,Joel
2,Got Taylor Need Swift,Nelson Agholor,WR,NE,Todd Gurley II,RB,Atl,0,2021-08-30 00:09:00,drop-add,Matt
3,Waddle It Be?,Sterling Shepard,WR,NYG,Russell Gage,WR,Atl,0,2021-08-30 00:10:00,drop-add,Sean
4,Waddle It Be?,Tony Jones Jr.,RB,NO,Latavius Murray,RB,Bal,0,2021-08-30 00:13:00,drop-add,Sean

In [12]:
transaction_df[24:25]

,ff_team,player_added,player_added_pos,player_added_team,player_dropped,player_dropped_pos,player_dropped_team,transaction_cost,transaction_time,transaction_type,manager
24,Raider Bae,New England,DEF,NE,Phillip Lindsay,RB,Mia,0,2021-09-05 12:19:00,drop-add,Jake

In [14]:
draft_df = pd.read_excel("C:\\Users\\mcyee\\Desktop\\yahoo_keeper_2021\\2021_Fantasy_Football_Draft.xlsx")
draft_df

,pick,player_name,player_position,player_team,salary,manager,keeper_code
0,1,Aaron Jones,RB,GB,27,Matt,BCDE
1,2,Jonathan Taylor,RB,IND,64,Matt,E
2,3,Odell Beckham Jr.,WR,CLE,5,Matt,E
3,4,Jerry Jeudy,WR,DEN,5,Matt,E
4,5,Davante Adams,WR,GB,60,Dai,ABCDE
5,6,Miles Sanders,RB,Phi,41,Dai,DE
6,7,DJ Moore,WR,Car,26,Dai,CDE
7,8,Zack Moss,RB,Buf,16,Dai,E
8,9,Joe Mixon,RB,CIN,72,Chi Shing,CDE
9,10,CeeDee Lamb,WR,DAL,23,Chi Shing,E
10,11,Patrick Mahomes,QB,KC,24,Chi Shing,CDE
11,12,Robby Anderson,WR,Car,6,Chi Shing,E
12,13,Alvin Kamara,RB,NO,36,Sean,BCDE
13,14,AJ Brown,WR,TEN,18,Sean,DE
14,15,George Kittle,TE,SF,27,Sean,CDE
15,16,Dak Prescott,QB,DAL,5,Sean,E
16,17,DK Metcalf,WR,SEA,12,Ron,DE
17,18,Austin Ekeler,RB,SD,22,Ron,DE
18,19,Stefon Diggs,WR,Buf,46,Ron,E
19,20,Myles Gaskin,RB,MIA,11,Ron,E
20,21,Derrick Henry,RB,TEN,56,Rajiv,DE
21,22,Terry McLaurin,WR,WAS,49,Rajiv,E
22,23,Darren Waller,TE,LV,56,Jake,E
23,24,Cooper Kupp,WR,LAR,26,Jake,CDE
24,25,Jonnu Smith,TE,NE,8,Jake,E
25,26,Henry Ruggs III,WR,LV,5,Jake,E
26,27,Justin Herbert,QB,SD,5,Doug,E
27,28,J.K. Dobbins,RB,Bal,8,Doug,E
28,29,James Robinson,RB,JAX,5,Doug,E
29,30,Robert Tonyan,TE,GB,8,Doug,E
...,...,...,...,...,...,...,...
162,163,Los Angeles,DEF,LAC,1,Evan,NaN
163,164,Emmanuel Sanders,WR,Buf,1,Joel,NaN
164,165,Gabriel Davis,WR,Buf,2,Joel,NaN
165,166,Wil Lutz,K,NO,1,Rajiv,NaN
166,167,Russell Gage,WR,Atl,2,Sean,NaN
167,168,Jakobi Meyers,WR,NE,1,Doug,NaN
168,169,Elijah Moore,WR,NYJ,2,Dai,NaN
169,170,Hunter Henry,TE,NE,3,Dai,NaN
170,171,Marquise Brown,WR,Bal,2,Rajiv,NaN
171,172,Gerald Everett,TE,Sea,2,Ron,NaN
172,173,Gus Edwards,RB,Bal,3,Ryan,NaN
173,174,Tony Pollard,RB,Dal,2,Ryan,NaN
174,175,Rob Gronkowski,TE,TB,1,Ryan,NaN
175,176,Jamaal Williams,RB,Det,2,Ryan,NaN
176,177,John Brown,WR,Jax,1,Joel,NaN
177,178,Justice Hill,RB,Bal,1,Sean,NaN
178,179,Devin Singletary,RB,Buf,1,Rajiv,NaN
179,180,Juwan Johnson,"WR,TE",NO,1,Doug,NaN
180,181,T.Y. Hilton,WR,Ind,1,Ryan,NaN
181,182,Rhamondre Stevenson,RB,NE,1,Dai,NaN
182,183,Latavius Murray,RB,Bal,1,Sean,NaN
183,184,Ryan Fitzpatrick,QB,Was,1,Rajiv,NaN
184,185,Terrace Marshall Jr.,WR,Car,1,Doug,NaN
185,186,Chuba Hubbard,RB,Car,1,Sean,NaN
186,187,Cole Kmet,TE,Chi,1,Rajiv,NaN
187,188,Carlos Hyde,RB,Jax,1,Doug,NaN
188,189,Brandon McManus,K,Den,1,Sean,NaN
189,190,DeVante Parker,WR,Mia,1,Rajiv,NaN
190,191,Nyheim Hines,RB,Ind,1,Doug,NaN
191,192,New Orleans,DEF,NO,1,Rajiv,NaN

In [34]:
draft_df = pd.read_excel("C:\\Users\\mcyee\\Desktop\\yahoo_keeper_2021\\2021_Fantasy_Football_Draft.xlsx")
draft_df.head()

for i, r in transaction_df.iterrows():
    print(i, r['transaction_type'], r['player_added'], r['player_added_team'], r['player_dropped'], r['player_dropped_team'])
    if r['transaction_type'] == 'drop-add':
        draft_row_n = draft_df[(draft_df['player_name'] == r['player_dropped'])]
        draft_df.at[draft_row_n.index[0], 'player_name'] = r['player_added']
        draft_df.at[draft_row_n.index[0], 'player_team'] = r['player_added_team']
        draft_df.at[draft_row_n.index[0], 'player_position'] = r['player_added_pos']
        draft_df.at[draft_row_n.index[0], 'salary'] = r['transaction_cost']
        draft_df.at[draft_row_n.index[0], 'keeper_code'] = ''
        draft_df = draft_df.reset_index(drop=True)
    elif r['transaction_type'] == 'drop':
        draft_row_n = draft_df[(draft_df['player_name'] == r['player_dropped'])]
        draft_df = draft_df.drop([draft_row_n.index[0]]).reset_index(drop=True)
    elif r['transaction_type'] == 'add':
        draft_df = draft_df.append({'pick': 0, 
                         'player_name': r['player_added'], 
                         'player_position': r['player_added_pos'], 
                         'player_team': r['player_added_team'],
                         'salary': r['transaction_cost'],
                         'manager': r['manager'],
                         'keeper_code': ''
                        }, ignore_index=True)
        draft_df = draft_df.reset_index(drop=True)
    elif r['transaction_type'] == 'trade':
        draft_row_n = draft_df[(draft_df['player_name'] == r['player_added'])]
        draft_df.at[draft_row_n.index[0], 'manager'] = r['manager']
        draft_df.reset_index(drop=True)
draft_df = draft_df.sort_values(by=['manager', 'salary']).reset_index(drop=True)

0 drop-add Ty'Son Williams Bal Los Angeles LAC
1 drop-add Jermar Jefferson Det Kirk Cousins Min
2 drop-add Nelson Agholor NE Todd Gurley II Atl
3 drop-add Sterling Shepard NYG Russell Gage Atl
4 drop-add Tony Jones Jr. NO Latavius Murray Bal
5 drop-add Ty Johnson NYJ Leonard Fournette TB
6 drop-add Tyrell Williams Det Allen Lazard GB
7 drop-add Aldrick Rosas Det Wil Lutz NO
8 drop-add Tua Tagovailoa Mia Cole Kmet Chi
9 drop-add Rodrigo Blankenship Ind Aldrick Rosas Det
10 drop-add Jalen Reagor Phi John Brown Jax
11 drop-add Devontae Booker NYG New Orleans NO
12 drop-add Chris Evans Cin Sam Darnold Car
13 drop-add Miami Mia New England NE
14 drop-add Kenneth Gainwell Phi Justice Hill Bal
15 drop-add Daniel Carlson LV Nick Folk NE
16 drop-add Todd Gurley II Atl Juwan Johnson NO
17 drop-add Jason Myers Sea Brandon McManus Den
18 drop-add Bryan Edwards LV J.K. Dobbins Bal
19 drop-add Rondale Moore Ari Tony Jones Jr. NO
20 drop-add Mac Jones NE Deshaun Watson Hou
21 drop-add Wayne Gallman Jr. Min Todd Gurley II Atl
22 drop-add Russell Gage Atl T.Y. Hilton Ind
23 drop-add Jameis Winston NO Carson Wentz Ind
24 drop-add New England NE Phillip Lindsay Mia
25 drop-add Tyler Conklin Min Irv Smith Jr. Min
26 drop-add Juwan Johnson NO Joe Burrow Cin
27 drop-add Latavius Murray Bal Justin Fields Chi
28 drop-add Tony Jones Jr. NO Wayne Gallman Jr. Min
29 drop-add J.J. Taylor NE Indianapolis Ind
30 drop-add Justin Jackson LAC Jermar Jefferson Det
31 drop-add Leonard Fournette TB Gabriel Davis Buf
32 drop-add Giovani Bernard TB Juwan Johnson NO
33 drop-add Le'Veon Bell TB Latavius Murray Bal
34 drop-add Latavius Murray Bal Gus Edwards Bal
35 drop-add Juwan Johnson NO Giovani Bernard TB
36 drop-add Marquez Valdes-Scantling GB Emmanuel Sanders Buf
37 drop-add Green Bay GB Curtis Samuel Was
38 drop-add Matt Breida Buf Zack Moss Buf
39 drop-add Darrel Williams KC Matt Breida Buf
40 drop-add Sammy Watkins Bal Justin Jackson LAC
41 drop-add Eli Mitchell SF Ty Johnson NYJ
42 drop-add Mark Ingram II NO Tevin Coleman NYJ
43 drop-add Christian Kirk Ari Jamison Crowder NYJ
44 drop-add Larry Rountree III LAC J.J. Taylor NE
45 drop-add Tim Patrick Den Parris Campbell Ind
46 drop-add Zach Pascal Ind Terrace Marshall Jr. Car
47 drop-add New Orleans NO Miami Mia
48 drop-add Justin Fields Chi Amon-Ra St. Brown Det
49 drop-add K.J. Osborn Min Mac Jones NE
50 drop-add Arizona Ari Buffalo Buf
51 drop-add Van Jefferson Jr. LAR Darrel Williams KC
52 drop-add Matt Prater Ari Jason Sanders Mia
53 drop-add JaMycal Hasty SF Ryan Fitzpatrick Was
54 drop-add Jared Goff Det Chris Evans Cin
55 drop-add Joe Burrow Cin Jared Goff Det
56 drop-add Chicago Chi Carolina Car
57 drop-add Emmanuel Sanders Buf Cam Akers LAR
58 drop-add Terrace Marshall Jr. Car Chuba Hubbard Car
59 drop-add Buffalo Buf Chicago Chi
60 drop-add Jared Cook LAC Evan Engram NYG
61 drop-add Quintez Cephus Det Tyrell Williams Det
62 drop-add Peyton Barber LV Travis Etienne Jax
63 drop-add Cordarrelle Patterson Atl Michael Pittman Jr. Ind
64 drop-add Cole Kmet Chi Gerald Everett Sea
65 drop-add Phillip Lindsay Mia Raheem Mostert SF
66 trade Ronald Jones II TB N/A N/A
67 trade Robby Anderson Car N/A N/A
68 trade Emmanuel Sanders Buf N/A N/A
69 trade Kareem Hunt Cle N/A N/A
70 drop-add Nick Folk NE Rodrigo Blankenship Ind
71 drop-add Zack Moss Buf Rhamondre Stevenson NE
72 drop-add Jared Goff Det K.J. Osborn Min
73 drop-add Devonta Freeman Bal Carlos Hyde Jax
74 drop-add Seattle Sea Hunter Henry NE
75 drop-add Amon-Ra St. Brown Det Devonta Freeman Bal
76 drop-add Chris Evans Cin Peyton Barber LV
77 drop-add Cedrick Wilson Dal Amon-Ra St. Brown Det
78 drop-add Greg Joseph Min Matt Prater Ari
79 drop-add Kirk Cousins Min Seattle Sea
80 drop-add Brandon McManus Den Nick Folk NE
81 drop-add Jamison Crowder NYJ Terrace Marshall Jr. Car
82 drop-add Alexander Mattison Min Green Bay GB
83 drop-add J.D. McKissic Was Marquez Valdes-Scantling GB
84 drop-add K.J. Osborn Min Jared Goff Det
85 drop-add Michael Pittman Jr. Ind Russell Gage Atl
86 drop-add Carolina Car New Orleans NO
87 drop-add Daniel Jones NYG Joe Burrow Cin
88 drop-add Las Vegas LV Washington Was
89 drop-add Chuba Hubbard Car Zach Pascal Ind
90 drop-add Jacques Patrick Car Jamison Crowder NYJ
91 drop-add Demetric Felton Cle Marquez Callaway NO
92 drop-add Nick Folk NE Ryan Succop TB
93 drop-add Matt Prater Ari Jason Myers Sea
94 drop-add Josh Gordon KC Nelson Agholor NE
95 drop-add Derek Carr LV Tua Tagovailoa Mia
96 drop-add Ty Johnson NYJ Matt Ryan Atl
97 drop-add Zach Pascal Ind Jarvis Landry Cle
98 drop-add Darrel Williams KC Jacques Patrick Car
99 drop-add Kerryon Johnson Phi Trevor Lawrence Jax
100 drop-add Trey Lance SF Elijah Moore NYJ
101 drop-add Quez Watkins Phi JaMycal Hasty SF
102 trade Ryan Tannehill Ten N/A N/A
103 trade Will Fuller V Mia N/A N/A
104 trade James Conner Ari N/A N/A
105 trade DeVante Parker Mia N/A N/A
106 drop-add Cincinnati Cin Baltimore Bal
107 drop-add Chase McLaughlin Cle Matt Prater Ari
108 drop-add Marlon Mack Ind Kerryon Johnson Phi
109 drop-add Washington Was Arizona Ari
110 drop-add New Orleans NO Pittsburgh Pit
111 drop-add Peyton Barber LV James White NE
112 drop-add Tennessee Ten Carolina Car
113 drop-add Dawson Knox Buf Cole Kmet Chi
114 drop-add A.J. Green Ari Juwan Johnson NO
115 drop-add Hunter Renfrow LV Quez Watkins Phi
116 drop-add Dalton Schultz Dal Cedrick Wilson Dal
117 drop-add Marquez Callaway NO Devontae Booker NYG
118 drop-add Rashod Bateman Bal Darrel Williams KC
119 drop-add Green Bay GB San Francisco SF
120 drop-add Indianapolis Ind Las Vegas LV
121 drop-add Jeremy McNichols Ten Sammy Watkins Bal
122 drop-add J.J. Taylor NE Jeremy McNichols Ten
123 drop-add Rhamondre Stevenson NE Trey Lance SF
124 drop-add Nick Westbrook-Ikhine Ten DJ Chark Jr. Jax
125 drop-add Cole Kmet Chi Nick Folk NE
126 drop-add Hunter Henry NE Cole Kmet Chi
127 drop-add Ryan Succop TB Hunter Henry NE
128 drop-add Curtis Samuel Was Jalen Reagor Phi
129 drop-add Cameron Brate TB Rashod Bateman Bal
130 drop-add Benny Snell Jr. Pit Tony Jones Jr. NO
131 drop-add Nick Folk NE Ryan Succop TB
132 drop Bench N/A J.J. Taylor NE
133 add Justin Jackson LAC Bench N/A
134 drop-add Atlanta Atl Tennessee Ten
135 drop-add Sam Darnold Car New Orleans NO
136 drop-add Dallas Dal Cincinnati Cin
137 drop-add Kadarius Toney NYG Mecole Hardman KC
138 drop-add Trey Lance SF Rhamondre Stevenson NE
139 drop-add Matt Prater Ari Robbie Gould SF
140 drop-add Rashod Bateman Bal Nick Folk NE
141 drop-add Sammy Watkins Bal Kenyan Drake LV
142 drop-add Minnesota Min Indianapolis Ind
143 drop-add Damien Williams Chi Justin Jackson LAC
144 drop-add Samaje Perine Cin Chris Evans Cin
145 drop-add Jamison Crowder NYJ Demetric Felton Cle
146 drop-add Alex Collins Sea Bryan Edwards LV
147 drop-add Hunter Henry NE Derek Carr LV
148 drop-add Pittsburgh Pit Green Bay GB
149 drop-add Khalil Herbert Chi Nick Westbrook-Ikhine Ten
150 drop Bench N/A Cameron Brate TB
151 trade Christian McCaffrey Car N/A N/A
152 trade Stefon Diggs Buf N/A N/A
153 trade Clyde Edwards-Helaire KC N/A N/A
154 trade Dalton Schultz Dal N/A N/A
155 trade Tim Patrick Den N/A N/A
156 trade George Kittle SF N/A N/A
157 trade Amari Cooper Dal N/A N/A
158 drop-add Baltimore Bal Atlanta Atl
159 add Ryan Succop TB Bench N/A
160 drop-add Olamide Zaccheaus Atl Phillip Lindsay Mia
161 drop-add Nick Folk NE Ryan Succop TB
162 drop-add Derek Carr LV Sam Darnold Car
163 drop-add Kenyan Drake LV Justin Fields Chi
164 drop-add New Orleans NO Benny Snell Jr. Pit
165 drop-add Zach Ertz Ari Le'Veon Bell TB
166 drop-add Darrel Williams KC Marlon Mack Ind
167 drop-add Sam Darnold Car Nyheim Hines Ind
168 drop-add Joe Burrow Cin Rashod Bateman Bal
169 drop-add Mo Alie-Cox Ind Curtis Samuel Was
170 drop-add Marlon Mack Ind JuJu Smith-Schuster Pit
171 drop Bench N/A New Orleans NO
172 drop-add Ryan Succop TB Younghoe Koo Atl
173 drop-add Miami Mia Washington Was
174 drop-add Austin Seibert Det Greg Joseph Min
175 drop-add Taylor Heinicke Was Kirk Cousins Min
176 drop-add Bryan Edwards LV Ronald Jones II TB
177 drop-add Cincinnati Cin Baltimore Bal
178 drop-add Amon-Ra St. Brown Det Van Jefferson Jr. LAR
179 drop-add Jarvis Landry Cle Tyler Conklin Min
180 drop-add Indianapolis Ind Minnesota Min
181 drop-add Nelson Agholor NE Josh Gordon KC
182 drop-add Dan Arnold Jax Mo Alie-Cox Ind
183 add Devontae Booker NYG Bench N/A
184 drop-add Rashod Bateman Bal Marlon Mack Ind
185 drop-add Mecole Hardman KC Quintez Cephus Det
186 drop-add Jerick McKinnon KC Bryan Edwards LV
187 drop-add Nyheim Hines Ind Daniel Jones NYG
188 drop-add Rhamondre Stevenson NE Trey Lance SF
189 drop-add Carolina Car Miami Mia
190 drop-add Chris Evans Cin Olamide Zaccheaus Atl
191 drop-add T.Y. Hilton Ind Mark Ingram II NO
192 trade Josh Allen Buf N/A N/A
193 trade Miles Sanders Phi N/A N/A
194 trade Darrel Williams KC N/A N/A
195 trade David Johnson Hou N/A N/A
196 drop-add Green Bay GB Kansas City KC
197 drop-add Marlon Mack Ind Jerick McKinnon KC
198 drop-add Demetric Felton Cle Kenyan Drake LV
199 drop-add J.K. Dobbins Bal Latavius Murray Bal
200 drop-add Greg Joseph Min Austin Seibert Det
201 drop-add Ricky Seals-Jones Was J.D. McKissic Was
202 trade Mike Gesicki Mia N/A N/A
203 trade Alex Collins Sea N/A N/A
204 drop-add Jerick McKinnon KC Taylor Heinicke Was
205 drop-add Mark Ingram II NO Larry Rountree III LAC
206 drop-add D'Ernest Johnson Cle Mark Ingram II NO
207 drop-add Matt Ryan Atl Sam Darnold Car
208 drop-add Kirk Cousins Min Derek Carr LV
209 drop-add Kenyan Drake LV David Johnson Hou
210 drop-add Mason Crosby GB Greg Joseph Min
211 drop-add Carson Wentz Ind Jerick McKinnon KC
212 drop-add New Orleans NO Denver Den
213 drop-add Baltimore Bal Dallas Dal
214 drop-add Arizona Ari Cincinnati Cin
215 drop-add Younghoe Koo Atl Chase McLaughlin Cle
216 drop-add Evan Engram NYG Ty'Son Williams Bal
217 drop-add Rashaad Penny Sea Peyton Barber LV
218 drop-add J.D. McKissic Was Rondale Moore Ari
219 drop-add Latavius Murray Bal Jamison Crowder NYJ
220 drop-add Tua Tagovailoa Mia Kenneth Gainwell Phi
221 drop-add Las Vegas LV Pittsburgh Pit
222 drop-add Randy Bullock Ten Tyler Bass Buf
223 drop-add Donovan Peoples-Jones Cle Kenyan Drake LV
224 drop-add San Francisco SF Robert Tonyan GB
225 drop-add Mark Ingram II NO Jameis Winston NO
226 drop-add Deshaun Watson Hou Nick Folk NE
227 drop-add Pat Freiermuth Pit Dan Arnold Jax
228 drop-add Devonta Freeman Bal Pat Freiermuth Pit
229 trade Rashod Bateman Bal N/A N/A
230 trade Ricky Seals-Jones Was N/A N/A
231 drop-add Kendrick Bourne NE Ty Johnson NYJ
232 drop-add Graham Gano NYG Greg Zuerlein Dal
233 drop-add DeeJay Dallas Sea Samaje Perine Cin
234 drop-add Nick Folk NE Deshaun Watson Hou
235 drop-add Tyler Bass Buf Devonta Freeman Bal
236 drop-add Derek Carr LV Carson Wentz Ind
237 drop-add Allen Lazard GB Graham Gano NYG
238 drop-add Greg Zuerlein Dal Mecole Hardman KC
239 drop-add JaMycal Hasty SF DeeJay Dallas Sea
240 drop-add Rondale Moore Ari Sterling Shepard NYG
241 drop-add Cole Kmet Chi Jonnu Smith NE
242 drop-add Devonta Freeman Bal JaMycal Hasty SF
243 drop-add Kenyan Drake LV Rhamondre Stevenson NE
244 drop-add Jake Elliott Phi Chris Evans Cin
245 drop-add Dallas Dal Kenyan Drake LV
246 drop Bench N/A Matt Ryan Atl
247 drop Bench N/A San Francisco SF
248 drop-add Kenneth Gainwell Phi Will Fuller V Mia
249 drop-add Pat Freiermuth Pit Ryan Succop TB
250 drop-add Graham Gano NYG Mark Ingram II NO
251 drop-add Samaje Perine Cin Derek Carr LV
252 add Randall Cobb GB Bench N/A
253 add Robert Tonyan GB Bench N/A
254 drop-add Seattle Sea Indianapolis Ind
255 drop-add Evan McPherson Cin Mason Crosby GB
256 drop-add C.J. Uzomah Cin Cole Kmet Chi
257 drop-add Russell Gage Atl Baltimore Bal
258 drop-add Darius Slayton NYG Donovan Peoples-Jones Cle
259 drop-add Kenyan Drake LV Damien Williams Chi
260 drop-add Sterling Shepard NYG Ricky Seals-Jones Was
261 drop-add Cincinnati Cin Trey Sermon SF
262 drop-add Pittsburgh Pit New Orleans NO
263 drop-add Marquez Valdes-Scantling GB Rondale Moore Ari
264 drop-add Denver Den Carolina Car
265 drop-add Tyler Conklin Min Allen Lazard GB
266 drop-add Chase McLaughlin Cle Jake Elliott Phi
267 drop-add David Johnson Hou Pat Freiermuth Pit
268 drop-add Phillip Lindsay Mia Marquez Valdes-Scantling GB
269 drop-add San Francisco SF Denver Den
270 drop-add Justin Jackson LAC Marlon Mack Ind
271 drop-add Chicago Chi Las Vegas LV
272 drop-add Joshua Kelley LAC Nelson Agholor NE
273 drop-add Indianapolis Ind New England NE
274 drop-add Carolina Car Seattle Sea
275 drop-add Mark Ingram II NO Phillip Lindsay Mia
276 drop-add Ricky Seals-Jones Was C.J. Uzomah Cin
277 drop-add Carson Wentz Ind Tua Tagovailoa Mia
278 drop-add Jordan Howard Phi Joshua Kelley LAC
279 drop-add Boston Scott Phi Justin Jackson LAC
280 drop-add Daniel Jones NYG Carson Wentz Ind
281 drop-add C.J. Uzomah Cin Zach Pascal Ind
282 drop-add Jamal Agnew Jax Amon-Ra St. Brown Det
283 drop-add Derek Carr LV David Johnson Hou
284 drop-add Ty'Son Williams Bal Samaje Perine Cin
285 drop-add Greg Joseph Min Randy Bullock Ten
286 drop-add Van Jefferson Jr. LAR T.Y. Hilton Ind
287 drop-add Miami Mia Carolina Car
288 drop-add Carlos Hyde Jax Randall Cobb GB
289 drop-add New Orleans NO Arizona Ari
290 drop-add Foster Moreau LV Ricky Seals-Jones Was
291 drop-add Jeff Wilson Jr. SF Daniel Jones NYG
292 drop-add Bryan Edwards LV Rashaad Penny Sea
293 drop-add Adrian Peterson Sea Devonta Freeman Bal
294 drop-add Jeremy McNichols Ten Green Bay GB
295 drop-add Jamison Crowder NYJ Kirk Cousins Min
296 drop-add Carson Wentz Ind Graham Gano NYG
297 drop-add Pat Freiermuth Pit Allen Robinson II Chi
298 drop-add Rex Burkhead Hou Robert Tonyan GB
299 drop-add Michael Badgley Ind Evan McPherson Cin
300 drop-add Derrick Gore KC Darius Slayton NYG
301 drop-add Elijah Moore NYJ Sterling Shepard NYG
302 drop-add Dan Arnold Jax Demetric Felton Cle
303 drop-add New England NE Brandon Aiyuk SF
304 drop-add Peyton Barber LV Henry Ruggs III LV
305 drop-add Los Angeles LAC San Francisco SF
306 drop-add Brandon Bolden NE Tyler Conklin Min
307 drop-add Allen Robinson II Chi Robby Anderson Car
308 drop-add Donovan Peoples-Jones Cle Greg Zuerlein Dal
309 drop-add San Francisco SF Los Angeles LAC
310 drop-add Greg Zuerlein Dal Younghoe Koo Atl

311 drop-add Rondale Moore Ari Rex Burkhead Hou
312 drop-add Brandon Aiyuk SF DeVante Parker Mia
313 drop-add Jimmy Garoppolo SF Sammy Watkins Bal
314 drop-add James Washington Pit Logan Thomas Was
315 drop-add Cole Kmet Chi Michael Thomas NO
316 drop-add Tennessee Ten New Orleans NO
317 drop-add Devonta Freeman Bal Peyton Barber LV
318 drop-add Arizona Ari Ty'Son Williams Bal
319 drop-add Baltimore Bal Cincinnati Cin
320 drop-add Logan Thomas Was Greg Zuerlein Dal
321 drop-add Malik Turner Dal K.J. Osborn Min
322 drop-add T.Y. Hilton Ind Latavius Murray Bal
323 drop-add Michael Thomas NO Foster Moreau LV
324 drop-add DeSean Jackson LV Bryan Edwards LV
325 drop-add Chris Boswell Pit Jeff Wilson Jr. SF
326 drop-add Denver Den Chicago Chi
327 drop-add Younghoe Koo Atl Brandon McManus Den
328 drop-add Deonte Harris NO James Washington Pit
329 drop-add Eno Benjamin Ari Cole Kmet Chi
330 drop-add Rashaad Penny Sea Dallas Dal
331 drop-add Philadelphia Phi San Francisco SF
332 drop-add Rhamondre Stevenson NE Carlos Hyde Jax
333 drop-add Travis Etienne Jax Boston Scott Phi
334 drop-add Le'Veon Bell TB Dan Arnold Jax
335 drop-add Los Angeles LAC Philadelphia Phi
336 drop-add Cam Newton Car Malik Turner Dal
337 drop Bench N/A Miami Mia
338 add Philadelphia Phi Bench N/A
339 drop-add Dallas Dal Philadelphia Phi
340 drop-add Boston Scott Phi Van Jefferson Jr. LAR
341 drop-add Carlos Hyde Jax Rashaad Penny Sea
342 drop-add Josh Reynolds Det Zach Ertz Ari
343 drop-add Kirk Cousins Min Le'Veon Bell TB
344 drop-add Van Jefferson Jr. LAR Robert Woods LAR
345 drop-add Jeff Wilson Jr. SF Chuba Hubbard Car
346 drop-add Zach Pascal Ind New England NE
347 drop-add Bryan Edwards LV Carlos Hyde Jax
348 drop-add Sterling Shepard NYG Derrick Gore KC
349 drop-add San Francisco SF Derek Carr LV
350 trade T.Y. Hilton Ind N/A N/A
351 drop-add Wayne Gallman Jr. Min Tim Patrick Den
352 drop-add Ryan Succop TB Michael Badgley Ind
353 drop-add Randy Bullock Ten Matt Gay LAR
354 drop-add Marcus Johnson Ten Russell Gage Atl
355 drop-add Dan Arnold Jax Dalton Schultz Dal
356 drop-add Justin Fields Chi Pittsburgh Pit
357 drop-add Miami Mia Arizona Ari
358 drop-add Carolina Car Los Angeles LAC
359 drop-add Zach Ertz Ari Kenny Golladay NYG
360 drop-add New England NE Dallas Dal
361 drop-add D'Onta Foreman Ten Adrian Peterson Sea
362 drop-add Robert Woods LAR Michael Thomas NO
363 trade Mike Davis Atl N/A N/A
364 drop-add Philadelphia Phi Los Angeles LAR
365 drop-add Carlos Hyde Jax Julio Jones Ten
366 drop-add Latavius Murray Bal Jamal Agnew Jax
367 drop-add Ty Johnson NYJ Noah Fant Den
368 drop-add Will Fuller V Mia Ty Johnson NYJ
369 drop-add Arizona Ari Indianapolis Ind
370 drop-add Kenny Golladay NYG Sterling Shepard NYG
371 drop-add Dalton Schultz Dal Zach Ertz Ari
372 drop-add Jamal Agnew Jax Wayne Gallman Jr. Min
373 drop-add Zane Gonzalez Car Ryan Succop TB
374 drop-add Robby Anderson Car Will Fuller V Mia
375 drop-add Kalif Raymond Det Allen Robinson II Chi
376 drop-add Trey Sermon SF Sony Michel LAR
377 drop-add Rashaad Penny Sea Robby Anderson Car
378 drop-add Los Angeles LAC Denver Den
379 drop-add Gary Brightwell NYG Rashaad Penny Sea
380 drop-add Marquez Valdes-Scantling GB Kalif Raymond Det
381 drop-add Cedrick Wilson Dal Carlos Hyde Jax
382 drop-add Derek Carr LV Cam Newton Car
383 drop-add Tua Tagovailoa Mia Kirk Cousins Min
384 drop-add Rashaad Penny Sea Marcus Johnson Ten
385 drop-add Ben Roethlisberger Pit Jimmy Garoppolo SF
386 drop-add Dallas Dal Justin Fields Chi
387 drop-add Sony Michel LAR Josh Reynolds Det
388 drop-add Sterling Shepard NYG Bryan Edwards LV
389 drop-add Ronald Jones II TB Kenyan Drake LV
390 drop-add Noah Fant Den Rashaad Penny Sea
391 drop-add Cam Akers LAR Logan Thomas Was
392 drop Bench N/A Jamal Agnew Jax
393 drop Bench N/A Devontae Booker NYG
394 drop-add Pittsburgh Pit Derek Carr LV
395 drop-add Houston Hou Tennessee Ten
396 drop-add Logan Thomas Was Dan Arnold Jax
397 drop-add Tre'Quan Smith NO Zack Moss Buf
398 drop-add David Johnson Hou Gary Brightwell NYG
399 drop-add Michael Thomas NO J.D. McKissic Was
400 drop-add Greg Zuerlein Dal Zane Gonzalez Car
401 drop-add Ty Johnson NYJ Kenny Golladay NYG
402 drop-add Kirk Cousins Min Ronald Jones II TB
403 drop-add Allen Robinson II Chi A.J. Green Ari
404 drop-add Brandon McManus Den Tua Tagovailoa Mia
405 drop-add Chicago Chi Harrison Butker KC
406 drop-add Cam Newton Car Boston Scott Phi
407 drop-add Matt Gay LAR Randy Bullock Ten
408 add Robby Anderson Car Bench N/A
409 add DeAndre Carter Was Bench N/A
410 drop-add Ryan Succop TB Jeremy McNichols Ten
411 drop-add Tony Jones Jr. NO Trey Sermon SF
412 drop-add Matt Breida Buf Brandon Bolden NE
413 drop-add Jake Elliott Phi Chase McLaughlin Cle
414 drop-add Rex Burkhead Hou Mark Ingram II NO
415 drop-add Nick Westbrook-Ikhine Ten DeAndre Carter Was
416 drop-add DeeJay Dallas Sea Sterling Shepard NYG
417 drop-add J.D. McKissic Was Sony Michel LAR
418 drop-add Chuba Hubbard Car Christian McCaffrey Car
419 drop-add Mark Ingram II NO Marquez Valdes-Scantling GB
420 drop-add Harrison Butker KC Brandon McManus Den
421 drop-add Dontrell Hilliard Ten Rex Burkhead Hou
422 drop-add Evan McPherson Cin Chris Boswell Pit
423 drop-add Indianapolis Ind Houston Hou
424 drop-add Minnesota Min Robby Anderson Car
425 drop-add Kansas City KC Carolina Car
426 drop-add Los Angeles LAR Chicago Chi
427 drop-add Foster Moreau LV Pittsburgh Pit
428 drop-add Russell Gage Atl Noah Fant Den
429 drop-add Jack Doyle Ind C.J. Uzomah Cin
430 drop-add JuJu Smith-Schuster Pit Tre'Quan Smith NO
431 drop-add Sony Michel LAR Dallas Dal
432 drop-add Zach Ertz Ari Dontrell Hilliard Ten
433 drop-add Taysom Hill NO Ryan Tannehill Ten
434 drop-add Sterling Shepard NYG Tony Jones Jr. NO
435 drop-add DeVante Parker Mia Latavius Murray Bal
436 drop-add Curtis Samuel Was Mike Davis Atl
437 drop-add Boston Scott Phi Donovan Peoples-Jones Cle
438 drop-add Kenny Golladay NYG Cedrick Wilson Dal
439 drop-add Cincinnati Cin Cleveland Cle
440 drop-add Christian McCaffrey Car Eno Benjamin Ari
441 drop-add Dontrell Hilliard Ten Mike Gesicki Mia
442 drop-add Marlon Mack Ind Cam Newton Car
443 drop-add A.J. Green Ari J.D. McKissic Was
444 drop-add Tevin Coleman NYJ Khalil Herbert Chi
445 drop-add Derek Carr LV D'Ernest Johnson Cle
446 drop-add Zack Moss Buf Jeff Wilson Jr. SF
447 drop-add Julio Jones Ten Rondale Moore Ari
448 drop Bench N/A Deonte Harris NO
449 drop Bench N/A Marquez Callaway NO
450 drop-add Marquez Valdes-Scantling GB Kenny Golladay NYG
451 drop-add Dallas Dal Rashod Bateman Bal
452 drop-add New Orleans NO Minnesota Min
453 drop-add JaMycal Hasty SF Zack Moss Buf
454 drop-add K.J. Osborn Min Logan Thomas Was
455 drop-add Rashaad Penny Sea A.J. Green Ari
456 drop-add Khalil Herbert Chi Ty Johnson NYJ
457 drop-add Green Bay GB Miami Mia
458 drop-add Tennessee Ten Indianapolis Ind
459 drop-add Denver Den Los Angeles LAR
460 drop-add Dustin Hopkins LAC Corey Davis NYJ
461 add Noah Fant Den Bench N/A
462 add Tre'Quan Smith NO Bench N/A
463 drop-add Carolina Car Philadelphia Phi
464 drop-add Seattle Sea Tennessee Ten
465 drop-add Jeff Wilson Jr. SF Curtis Samuel Was
466 drop-add Mason Crosby GB Greg Joseph Min
467 drop-add Teddy Bridgewater Den Jack Doyle Ind
468 drop-add Chris Boswell Pit Jake Elliott Phi
469 drop-add Cleveland Cle Cincinnati Cin
470 drop-add Tennessee Ten Zach Pascal Ind
471 drop-add Rashod Bateman Bal DeeJay Dallas Sea
472 drop-add Philadelphia Phi New Orleans NO
473 drop-add Miami Mia Foster Moreau LV
474 drop-add A.J. Green Ari T.Y. Hilton Ind
475 drop-add Jermar Jefferson Det Mark Ingram II NO
476 drop-add Gerald Everett Sea Robert Woods LAR
477 drop-add Indianapolis Ind Dustin Hopkins LAC
478 drop-add Tua Tagovailoa Mia DeSean Jackson LV
479 drop-add Los Angeles LAR Denver Den
480 drop-add Jason Sanders Mia Mason Crosby GB
481 drop-add Robert Woods LAR Tevin Coleman NYJ
482 drop-add Mike Gesicki Mia Jermar Jefferson Det
483 drop-add Gabriel Davis Buf JaMycal Hasty SF
484 drop-add Malcolm Brown Mia Dontrell Hilliard Ten
485 drop-add D'Ernest Johnson Cle Nick Westbrook-Ikhine Ten
486 drop-add Jimmy Garoppolo SF Tua Tagovailoa Mia
487 drop-add Rondale Moore Ari DeAndre Hopkins Ari
488 drop-add Allen Lazard GB Jeff Wilson Jr. SF
489 drop-add Amon-Ra St. Brown Det T.J. Hockenson Det
490 drop-add Mike Davis Atl Derek Carr LV
491 drop-add Ronald Jones II TB Kirk Cousins Min
492 drop-add DeAndre Hopkins Ari Sterling Shepard NYG
493 drop-add Denver Den Carolina Car
494 drop-add Jeff Wilson Jr. SF Malcolm Brown Mia
495 drop-add Donovan Peoples-Jones Cle Allen Robinson II Chi
496 drop-add Ben Skowronek LAR Allen Lazard GB
497 drop-add T.J. Hockenson Det Ronald Jones II TB
498 drop-add Allen Lazard GB Ben Skowronek LAR
499 drop-add Ricky Seals-Jones Was T.J. Hockenson Det
500 drop-add David Njoku Cle Emmanuel Sanders Buf
501 drop-add J.D. McKissic Was Rondale Moore Ari
502 drop-add Jaret Patterson Was J.D. McKissic Was
503 drop-add Ronald Jones II TB Ricky Seals-Jones Was
504 drop-add Justin Jackson LAC D'Ernest Johnson Cle
505 drop-add Craig Reynolds Det Indianapolis Ind
506 drop-add T.J. Hockenson Det K.J. Osborn Min
507 drop-add New York NYJ Los Angeles LAR
508 drop-add Scotty Miller TB Jerry Jeudy Den
509 drop-add Mecole Hardman KC Allen Lazard GB
510 drop-add Michael Badgley Ind Harrison Butker KC
511 drop-add Mac Jones NE Arizona Ari
512 drop-add DJ Chark Jr. Jax Jimmy Garoppolo SF
513 drop-add Josh Reynolds Det Scotty Miller TB
514 drop-add Tim Patrick Den David Johnson Hou
515 drop-add Rondale Moore Ari Josh Reynolds Det
516 drop-add Tyler Johnson TB Julio Jones Ten
517 drop-add Kenny Golladay NYG Matt Breida Buf
518 drop-add Ameer Abdullah Car Mike Davis Atl
519 drop-add Emmanuel Sanders Buf Gabriel Davis Buf
520 drop-add Marquez Callaway NO Jamison Crowder NYJ
521 drop-add Cole Kmet Chi Pat Freiermuth Pit
522 drop-add Allen Lazard GB Donovan Peoples-Jones Cle
523 drop-add New Orleans NO Cleveland Cle
524 drop-add Byron Pringle KC Russell Wilson Sea
525 drop-add Scotty Miller TB Byron Pringle KC
526 drop-add Laquon Treadwell Jax Scotty Miller TB
527 drop-add Cincinnati Cin New York NYJ
528 drop-add Joshua Kelley LAC Mecole Hardman KC
529 drop-add Joshua Palmer LAC Laquon Treadwell Jax
530 drop-add Matt Ryan Atl Taysom Hill NO
531 drop-add Zack Moss Buf Rondale Moore Ari
532 drop-add Pat Freiermuth Pit Darrell Henderson Jr. LAR
533 drop-add Indianapolis Ind Myles Gaskin Mia
534 drop-add Chicago Chi Kansas City KC
535 drop-add Ke'Shawn Vaughn TB Jason Sanders Mia
536 drop-add Derrick Gore KC Green Bay GB
537 drop-add Russell Wilson Sea Tennessee Ten
538 drop-add Trey Lance SF Chuba Hubbard Car
539 drop-add K.J. Osborn Min Craig Reynolds Det
540 drop-add Foster Moreau LV Cole Kmet Chi
541 drop-add Darrell Henderson Jr. LAR Teddy Bridgewater Den
542 drop-add Raheem Mostert SF Joshua Kelley LAC
543 drop-add Green Bay GB Indianapolis Ind
544 drop-add Josh Gordon KC Joshua Palmer LAC
545 drop-add Gabriel Davis Buf Tyler Johnson TB
546 drop-add Trey Sermon SF Philadelphia Phi
547 drop-add Deonte Harris NO Emmanuel Sanders Buf
548 drop-add D'Ernest Johnson Cle San Francisco SF

In [35]:
draft_df.to_csv('C:\\Users\\mcyee\\Desktop\\yahoo_keeper_2021\\yahoo_keeper_2021.csv')

In [36]:
draft_df[draft_df['manager'] == 'Chi Shing']

,pick,player_name,player_position,player_team,salary,manager,keeper_code
0,96,Darrell Henderson Jr.,RB,LAR,0,Chi Shing,
1,132,David Njoku,TE,Cle,0,Chi Shing,
2,145,Matt Gay,K,LAR,0,Chi Shing,
3,157,Marlon Mack,RB,Ind,0,Chi Shing,
4,129,Christian Kirk,WR,Ari,8,Chi Shing,
5,126,DeVonta Smith,WR,Phi,12,Chi Shing,NaN
6,71,Melvin Gordon III,RB,Den,21,Chi Shing,NaN
7,10,CeeDee Lamb,WR,DAL,23,Chi Shing,E
8,11,Patrick Mahomes,QB,KC,24,Chi Shing,CDE
9,91,Tyler Higbee,TE,LAR,25,Chi Shing,NaN
10,82,Kareem Hunt,RB,Cle,32,Chi Shing,NaN
11,65,Chris Godwin,WR,TB,57,Chi Shing,NaN
12,9,Joe Mixon,RB,CIN,72,Chi Shing,CDE
13,136,Robert Woods,WR,LAR,12,Chi Shing,
14,86,Evan Engram,TE,NYG,2,Chi Shing,
15,46,D'Onta Foreman,RB,Ten,9,Chi Shing,

In [37]:
draft_df[draft_df['manager'] == 'Dai']

,pick,player_name,player_position,player_team,salary,manager,keeper_code
16,8,DeVante Parker,WR,Mia,0,Dai,
17,119,Khalil Herbert,RB,Chi,0,Dai,
18,127,Ke'Shawn Vaughn,RB,TB,0,Dai,
19,138,Kadarius Toney,WR,NYG,0,Dai,
20,139,Rashaad Penny,RB,Sea,0,Dai,
21,169,Rashod Bateman,WR,Bal,0,Dai,
22,170,Derrick Gore,RB,KC,0,Dai,
23,182,JuJu Smith-Schuster,WR,Pit,0,Dai,
24,162,Michael Carter,RB,NYJ,3,Dai,NaN
25,40,Josh Allen,QB,Buf,23,Dai,E
26,7,DJ Moore,WR,Car,26,Dai,CDE
27,66,Kyle Pitts,TE,Atl,40,Dai,NaN
28,5,Davante Adams,WR,GB,60,Dai,ABCDE
29,59,Najee Harris,RB,Pit,78,Dai,NaN
30,125,Russell Gage,WR,Atl,2,Dai,
31,122,DeAndre Hopkins,WR,Ari,34,Dai,

In [38]:
draft_df[draft_df['manager'] == 'Doug']

,pick,player_name,player_position,player_team,salary,manager,keeper_code
32,57,Jaret Patterson,RB,Was,0,Doug,
33,97,Allen Lazard,WR,GB,0,Doug,
34,147,Jeff Wilson Jr.,RB,SF,0,Doug,
35,148,Buffalo,DEF,Buf,0,Doug,
36,185,Deonte Harris,WR,NO,0,Doug,
37,0,Rhamondre Stevenson,RB,NE,0,Doug,
38,0,Gabriel Davis,WR,Buf,0,Doug,
39,0,Trey Sermon,RB,SF,0,Doug,
40,168,Jakobi Meyers,WR,NE,1,Doug,NaN
41,27,Justin Herbert,QB,SD,5,Doug,E
42,29,James Robinson,RB,JAX,5,Doug,E
43,15,George Kittle,TE,SF,27,Doug,CDE
44,49,Ezekiel Elliott,RB,Dal,87,Doug,NaN
45,159,Greg Zuerlein,K,Dal,3,Doug,
46,0,Justin Jackson,RB,LAC,3,Doug,
47,67,Marquez Valdes-Scantling,WR,GB,4,Doug,

In [39]:
draft_df[draft_df['manager'] == 'Evan']

,pick,player_name,player_position,player_team,salary,manager,keeper_code
48,73,Darrel Williams,RB,KC,0,Evan,
49,121,Ben Roethlisberger,QB,Pit,0,Evan,
50,133,Jared Cook,TE,LAC,0,Evan,
51,140,Ryan Succop,K,TB,0,Evan,
52,163,Denver,DEF,Den,0,Evan,
53,152,Matt Prater,K,Ari,2,Evan,
54,153,Darnell Mooney,WR,Chi,4,Evan,NaN
55,116,Michael Gallup,WR,Dal,11,Evan,NaN
56,128,Jarvis Landry,WR,Cle,15,Evan,
57,85,Tyler Boyd,WR,Cin,18,Evan,NaN
58,77,Damien Harris,RB,NE,23,Evan,NaN
59,41,Kyler Murray,QB,ARI,24,Evan,DE
60,39,Antonio Gibson,RB,WAS,27,Evan,E
61,42,Tyler Lockett,WR,SEA,32,Evan,BCDE
62,6,Miles Sanders,RB,Phi,41,Evan,DE
63,89,Baltimore,DEF,Bal,3,Evan,

In [40]:
draft_df[draft_df['manager'] == 'Jake']

,pick,player_name,player_position,player_team,salary,manager,keeper_code
64,25,Gerald Everett,TE,Sea,0,Jake,
65,83,DJ Chark Jr.,WR,Jax,0,Jake,
66,84,Miami,DEF,Mia,0,Jake,
67,101,Marquez Callaway,WR,NO,0,Jake,
68,146,Boston Scott,RB,Phi,0,Jake,
69,151,Mac Jones,QB,NE,0,Jake,
70,156,A.J. Green,WR,Ari,0,Jake,
71,106,Justin Tucker,K,Bal,2,Jake,NaN
72,112,Cole Beasley,WR,Buf,2,Jake,NaN
73,74,James Conner,RB,Ari,16,Jake,NaN
74,24,Cooper Kupp,WR,LAR,26,Jake,CDE
75,76,Josh Jacobs,RB,LV,38,Jake,NaN
76,64,Lamar Jackson,QB,Bal,47,Jake,NaN
77,62,Mike Evans,WR,TB,48,Jake,NaN
78,23,Darren Waller,TE,LV,56,Jake,E
79,26,Devonta Freeman,RB,Bal,6,Jake,

In [41]:
draft_df[draft_df['manager'] == 'Jiwei']

,pick,player_name,player_position,player_team,salary,manager,keeper_code
80,28,Alex Collins,RB,Sea,0,Jiwei,
81,100,Chris Boswell,K,Pit,0,Jiwei,
82,131,Kendrick Bourne,WR,NE,0,Jiwei,
83,137,New Orleans,DEF,NO,0,Jiwei,
84,149,Kenny Golladay,WR,NYG,0,Jiwei,
85,160,Ameer Abdullah,RB,Car,0,Jiwei,
86,72,Jalen Hurts,QB,Phi,7,Jiwei,NaN
87,117,Marvin Jones Jr.,WR,Jax,7,Jiwei,NaN
88,45,Justin Jefferson,WR,Min,9,Jiwei,E
89,141,Alexander Mattison,RB,Min,11,Jiwei,
90,144,AJ Dillon,RB,GB,11,Jiwei,NaN
91,92,Antonio Brown,WR,TB,15,Jiwei,NaN
92,87,Mark Andrews,TE,Bal,31,Jiwei,NaN
93,43,Chris Carson,RB,SEA,46,Jiwei,CDE
94,44,Calvin Ridley,WR,Atl,48,Jiwei,DE
95,47,Keenan Allen,WR,LAC,51,Jiwei,NaN

In [42]:
draft_df[draft_df['manager'] == 'Joel']

,pick,player_name,player_position,player_team,salary,manager,keeper_code
96,32,Pat Freiermuth,TE,Pit,0,Joel,
97,33,Amon-Ra St. Brown,WR,Det,0,Joel,
98,51,D'Ernest Johnson,RB,Cle,0,Joel,
99,61,Foster Moreau,TE,LV,0,Joel,
100,165,Leonard Fournette,RB,TB,0,Joel,
101,177,Tyler Bass,K,Buf,0,Joel,
102,93,Brandin Cooks,WR,Hou,11,Joel,NaN
103,104,Deebo Samuel,WR,SF,13,Joel,NaN
104,34,Aaron Rodgers,QB,GB,15,Joel,E
105,81,Tee Higgins,WR,Cin,28,Joel,NaN
106,78,Diontae Johnson,WR,Pit,37,Joel,NaN
107,68,D'Andre Swift,RB,Det,43,Joel,NaN
108,31,David Montgomery,RB,Chi,54,Joel,DE
109,0,Ronald Jones II,RB,TB,14,Joel,
110,79,Dallas,DEF,Dal,4,Joel,
111,130,Sony Michel,RB,LAR,8,Joel,

In [43]:
draft_df[draft_df['manager'] == 'Matt']

,pick,player_name,player_position,player_team,salary,manager,keeper_code
112,4,Zack Moss,RB,Buf,0,Matt,
113,12,Mike Gesicki,TE,Mia,0,Matt,
114,80,Raheem Mostert,RB,SF,0,Matt,
115,99,Tim Patrick,WR,Den,0,Matt,
116,102,Dalton Schultz,TE,Dal,0,Matt,
117,108,Cincinnati,DEF,Cin,0,Matt,
118,109,Travis Etienne,RB,Jax,0,Matt,
119,120,Jordan Howard,RB,Phi,0,Matt,
120,150,Michael Badgley,K,Ind,0,Matt,
121,190,Brandon Aiyuk,WR,SF,0,Matt,
122,3,Odell Beckham Jr.,WR,CLE,5,Matt,E
123,107,Matthew Stafford,QB,LAR,10,Matt,NaN
124,1,Aaron Jones,RB,GB,27,Matt,BCDE
125,2,Jonathan Taylor,RB,IND,64,Matt,E
126,56,Tyreek Hill,WR,KC,90,Matt,NaN
127,0,New England,DEF,NE,5,Matt,

In [44]:
draft_df[draft_df['manager'] == 'Rajiv']

,pick,player_name,player_position,player_team,salary,manager,keeper_code
128,95,Matt Ryan,QB,Atl,0,Rajiv,
129,113,Los Angeles,DEF,LAC,0,Rajiv,
130,143,Nyheim Hines,RB,Ind,0,Rajiv,
131,166,Younghoe Koo,K,Atl,0,Rajiv,
132,187,Hunter Henry,TE,NE,0,Rajiv,
133,0,Noah Fant,TE,Den,0,Rajiv,
134,0,Tre'Quan Smith,WR,NO,0,Rajiv,
135,179,Devin Singletary,RB,Buf,1,Rajiv,NaN
136,171,Marquise Brown,WR,Bal,2,Rajiv,NaN
137,184,Hunter Renfrow,WR,LV,6,Rajiv,
138,22,Terry McLaurin,WR,WAS,49,Rajiv,E
139,69,Adam Thielen,WR,Min,49,Rajiv,NaN
140,21,Derrick Henry,RB,TEN,56,Rajiv,DE
141,48,Saquon Barkley,RB,NYG,79,Rajiv,NaN
142,105,Kenneth Gainwell,RB,Phi,23,Rajiv,
143,70,Christian McCaffrey,RB,Car,65,Rajiv,

In [45]:
draft_df[draft_df['manager'] == 'Ron']

,pick,player_name,player_position,player_team,salary,manager,keeper_code
144,20,Green Bay,DEF,GB,0,Ron,
145,53,Trey Lance,QB,SF,0,Ron,
146,60,Josh Gordon,WR,KC,0,Ron,
147,110,K.J. Osborn,WR,Min,0,Ron,
148,123,Joe Burrow,QB,Cin,0,Ron,
149,135,Cordarrelle Patterson,"WR,RB",Atl,0,Ron,
150,158,Chicago,DEF,Chi,0,Ron,
151,172,Dawson Knox,TE,Buf,4,Ron,
152,17,DK Metcalf,WR,SEA,12,Ron,DE
153,111,Dallas Goedert,TE,Phi,13,Ron,NaN
154,50,Chase Edmonds,RB,Ari,19,Ron,NaN
155,63,Ja'Marr Chase,WR,Cin,19,Ron,NaN
156,18,Austin Ekeler,RB,SD,22,Ron,DE
157,103,Courtland Sutton,WR,Den,23,Ron,NaN
158,115,Eli Mitchell,RB,SF,43,Ron,
159,0,Nick Folk,K,NE,1,Ron,

In [46]:
draft_df[draft_df['manager'] == 'Ryan']

,pick,player_name,player_position,player_team,salary,manager,keeper_code
160,114,Daniel Carlson,K,LV,0,Ryan,
161,173,J.K. Dobbins,RB,Bal,0,Ryan,
162,175,Rob Gronkowski,TE,TB,1,Ryan,NaN
163,174,Tony Pollard,RB,Dal,2,Ryan,NaN
164,176,Jamaal Williams,RB,Det,2,Ryan,NaN
165,124,Tampa Bay,DEF,TB,4,Ryan,NaN
166,37,Chase Claypool,WR,PIT,5,Ryan,E
167,118,Laviska Shenault Jr.,WR,Jax,10,Ryan,NaN
168,88,Tom Brady,QB,TB,13,Ryan,NaN
169,36,Nick Chubb,RB,CLE,24,Ryan,CDE
170,181,Michael Pittman Jr.,WR,Ind,26,Ryan,
171,35,Travis Kelce,TE,KC,73,Ryan,CDE
172,52,Dalvin Cook,RB,Min,111,Ryan,NaN
173,55,Van Jefferson Jr.,WR,LAR,11,Ryan,
174,161,Carson Wentz,QB,Ind,11,Ryan,
175,38,Russell Wilson,QB,Sea,2,Ryan,

In [47]:
draft_df[draft_df['manager'] == 'Sean']

,pick,player_name,player_position,player_team,salary,manager,keeper_code
176,142,Seattle,DEF,Sea,0,Sean,
177,164,Elijah Moore,WR,NYJ,0,Sean,
178,167,Zach Ertz,TE,Ari,0,Sean,
179,178,Evan McPherson,K,Cin,0,Sean,
180,188,T.J. Hockenson,TE,Det,0,Sean,
181,189,Cam Akers,RB,LAR,0,Sean,
182,16,Dak Prescott,QB,DAL,5,Sean,E
183,154,Jaylen Waddle,WR,Mia,5,Sean,NaN
184,90,Mike Williams,WR,LAC,13,Sean,NaN
185,14,AJ Brown,WR,TEN,18,Sean,DE
186,94,Javonte Williams,RB,Den,25,Sean,NaN
187,13,Alvin Kamara,RB,NO,36,Sean,BCDE
188,54,Amari Cooper,WR,Dal,41,Sean,NaN
189,19,Stefon Diggs,WR,Buf,46,Sean,E
190,58,Clyde Edwards-Helaire,RB,KC,68,Sean,NaN
191,183,Michael Thomas,WR,NO,2,Sean,